@tailwind base;

html {
  line-height: 1.15;
  font-family: sans-serif;
}

@tailwind components;
@tailwind utilities;

/* Typography */
body {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 16px;
  line-height: 1.6em;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin-bottom: 0.5em;
}

a {
  color: #386BF3;
  font-weight: 400;
}

a:hover {
  color: hsla(0, 100%, 100%, .6);
}

pre,
code {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

pre {
  font-size: 14px;
  background-color: hsl(210, 14.3%, 93.3%);
  border-radius: 4px;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 2em;
  width: 100%;
}


code {
  padding: 4px 6px;
  font-size: 90%;
  color: hsl(0, 0%, 23.7%);
  background-color: hsl(0, 0%, 94.9%);
  border-radius: 4px;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

.break-all {
  word-break: break-all;
}

/* Header */
header {
  padding-top: 100px;
  padding-bottom: 100px;
}

header .brand-icon {
  position: relative;
  width: 42px;
  margin-right: 10px;
  top: 7px;
  display: inline;
  vertical-align: unset;
}

header h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 42px;
  display: inline-block;
  margin: 0;
}

header h2 {
  margin-top: .5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

header a {
  color: #fff;
}

header a:hover {
  opacity: 0.6;
}

/* Main content */
.content-section-light,
.content-section-dark {
  padding: 100px 0;
}

.content-section-dark {
  background: #F4F7FC;
}

.content-section-dark + .content-section-light {
  padding-top: 150px;
}

.content-section-light a:hover,
.content-section-dark a:hover,
.content-section-images a:hover {
  color: hsla(0, 0%, 60%, 1);
}

.content-section-dark pre {
  background: white;
}

/* Images */
img.resize {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),0 8px 16px -8px hsla(0, 0%, 0%, 0.3),0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
}

/* Custom Pre Code Box */

pre.code-box {
  box-shadow: 0 0 0 1px hsla(240, 30.1%, 28%, 0.05),0 2px 5px 0 hsla(240, 30.1%, 28%, 0.1),0 1px 1px 0 hsla(0, 0%, 0%, 0.07);
  background: white;
  padding: 18px;
}

/* Image gallery */
.content-section-images {
  padding: 50px 0;
}

.content-section-images a {
  color: hsla(0, 0%, 0%, 1);
}

/* Footer */
footer {
  text-align: center;
  background: hsl(0, 0%, 0%);
  padding: 100px 0;
  margin-top: 100px;
}

footer p {
  color: hsla(0, 100%, 100%, 0.6);
  font-size: 14px;
}

footer a {
  color: hsla(0, 100%, 100%, 0.8);
}

.sponsor {
  height: auto;
  width: 230px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline;
}

.sponsor:hover {
  opacity: 0.6;
}

/* Carbon ads */
#carbonads {
  display: block;
  overflow: hidden;
  border-radius: 4px;
  font-size: 14px;
  padding: 20px;
  max-width: 350px;
  background: HSL(217.5, 57.1%, 97.3%);
  max-height: 140px;
}

#carbonads a {
  color: #333;
  text-decoration: none;
}

#carbonads span {
  position: relative;
  overflow: hidden;
}

#carbonads img {
  border-radius: 4px;
  float: left;
  margin-right: 10px;
}

.carbon-poweredby {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
}

@media (min-width: 1200px) {
  #carbonads {
    margin-top: -200px;
    margin-left: 25px;
  }

  .carbon-poweredby {
    display: block;
    padding: 10px 12px;
  }
}

@media (max-width: 1200px) {
  #carbonads {
    margin-top: -150px;
    margin-left: 25px;
  }

  .carbon-poweredby {
    display: block;
    padding: 10px 12px;
  }
}

@media (max-width: 1000px) {
  header {
    text-align: center;
  }

  #carbonads {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .carbon-poweredby {
    display: block;
    padding: 10px 12px;
  }
}
