# Ignore everything
**/*

# Include makefile
!Makefile

# Include go module information
!go.mod
!go.sum

# Include main file
!main.go

# Include packages
!api
!cache
!database
!health
!image
!logger
!queue
!src
!storage
!test
!vips

# Include frontend build-pipeline stuff
!gulpfile.js
!package.json
!package-lock.json

# Exclude debug files
**/debug
**/debug.test
