# Ignore everything
**/*

# Include makefile
!Makefile

# Include go module information
!go.mod
!go.sum

# Include main file
!main.go

# Include packages
!api
!cache
!database
!health
!image
!logger
!queue
!static
!storage
!test
!vips

# Exclude debug files
**/debug
**/debug.test
