# Ignore everything
**/*

# Include makefile
!Makefile

# Include go module information
!go.mod
!go.sum

# Include packages
!cmd
!internal
!test
!web

# Include frontend build-pipeline stuff
!gulpfile.js
!package.json
!package-lock.json

# Exclude debug files
**/debug
**/debug.test
