**/debug
**/debug.test

picsum-photos
!cmd/picsum-photos/
!containers/picsum-photos/

image-service
!cmd/image-service/
!containers/image-service/

.vscode/c_cpp_properties.json
.vscode/settings.json

dist
node_modules

.terraform
terraform.tfvars
terraform.tf

.DS_Store
