# Terraform settings

# API token that Terraform uses to access DigitalOcean
do_api_token = ""

# Spaces credentials that Terraform uses to access DigitalOcean Spaces
# These are the same ones that should be defined in terraform.tf
do_spaces_access_id = ""
do_spaces_secret_key = ""

# Picsum settings

# DigitalOcean Space for storing photos
picsum_bucket = "picsum-photos"

# Region to use on DigitalOcean
picsum_digitalocean_region = "ams3"
