* {
  text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; box-sizing: border-box;
}

body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,ยง-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

p {
  font-weight: 300 !important;

}

.intro-header {
  text-align: center;
  color: #f8f8f8;
  background: #000;
  background-size: cover;
  font-family: Lato;
}

.overlay {
  padding-top: 100px;
  padding-bottom: 100px;
  background: rgba(0,0,0,0.6);
}

.intro-message h1 {
  font-family: Lato;
  font-weight: 300;
}

.intro-message a:hover {
  text-decoration: none;
  color: rgba(255,255,255,0.6) !important;
}

.intro-message h3 {
  font-family: Lato;
  color: hsla(0, 100%, 100%, 0.6);
}

.intro-message h3 a {
  color: rgba(255,255,255,0.8);
}

.content-section {
  padding: 50px 0;
  text-align: center;
}

.content-section h2, .content-section h3 {
  font-weight: 700 !important;
}

.content-section a {
  color: #000 !important;
}

.content-section a:hover {
  color: #999898 !important;
  text-decoration: none;
}

.content-section h3 {
  margin-top: 0px;
}

.content-section-right {
  padding: 50px 0;
  background: hsl(211, 20%, 97%);
}

.content-section-left {
  padding: 50px 0;
  border-top: 1px solid hsl(211, 20%, 91%);
  border-bottom: 1px solid hsl(211, 20%, 91%);
}

.content-section-left a, .content-section-right a {
  color: #000;
  font-weight: 700;
}

.content-section-left a:hover, .content-section-right a:hover {
  color: #999898;
  text-decoration: none;
}

pre {
  background-color: hsl(211, 20%, 96%) !important;
  border: 1px solid hsl(211, 20%, 91%) !important;
  border-radius: 4px !important;
  box-shadow: inset 0 1px 2px hsl(211, 20%, 94%) !important;
}

footer {
  text-align: center;
  background: #000;
  background-size: cover;
}

footer p {
  font-family: Lato;
  font-weight: 400 !important;
  color: rgba(255,255,255,0.6) !important;
}

footer a, footer a:hover {
  font-weight: 700 !important;
  color: rgba(255,255,255,0.8) !important;
}

footer a:hover {
  text-decoration: none;
  color: rgba(255,255,255,0.6) !important;
}

.footer-overlay {
  padding: 50px 0;
  background: rgba(0,0,0,0.6);
}

.digitalocean, .belugacdn {
  height: auto;
  width: 200px;
  margin-bottom: 10px;
}

.plus {
  padding-left: 20px;
  padding-right: 15px;
  color: rgba(255,255,255,1.0);
}

.digitalocean:hover, .belugacdn:hover {
  opacity: 0.7;
}

/* Gallery */

.intro-message a {
  color: #fff !important;
}

.template {
  display: none;
}


.image {
  margin-top: -10px;
}

.image img {
  display: block;
  min-height: 197px;
  border-radius: 3px;
}

.imageContainer {
  margin-top: 50px;
}

.attribution {
  position: relative;
  top: -40;
  background-color: #000;
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.8);
  float: right !important;
}

@media (min-width: 768px) and (max-width: 995px) {
  .attribution {
    right: 16.66666667%;
  }
}

.attribution a {
  color: #fff !important;
}

.attribution a:hover {
  text-decoration: none;
  color: #999898 !important;
}

.attribution .id {
  float: right;
}