/* Typography */
body {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-weight: 300;
  font-size: 18px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 0.5em;
}

a {
  color: hsla(0, 0%, 0%, 1);
  font-weight: 400;
}

a:hover {
  color: hsla(0, 100%, 100%, .6);
}

pre {
  font-size: 14px;
  background-color: hsl(211, 20%, 96%);
  border: 1px solid hsl(211, 20%, 91%);
  border-radius: 4px;
  box-shadow: inset 0 1px 2px hsl(211, 20%, 94%);
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}


code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

.break-all {
  word-break: break-all;
}

/* Header */
header {
  text-align: center;
  color: #f8f8f8;
  background: hsla(0, 0%, 0%, 1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/1920/500');
}

header .overlay {
  padding-top: 125px;
  padding-bottom: 125px;
  background: hsla(0, 0%, 0%, 0.6);
}

header h1 {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
}

header h2 {
  margin-top: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: hsla(0, 100%, 100%, 0.6);
}

header a {
  color: #fff;
}

header a:hover {
  opacity: 0.6;
}

header img {
  height: 4em;
}

/* Main content */

.content-section-dark {
  padding: 50px 0;
  background: hsl(211, 20%, 97%);
}

.content-section-light {
  padding: 50px 0;
  border-top: 1px solid hsl(211, 20%, 91%);
  border-bottom: 1px solid hsl(211, 20%, 91%);
}

.content-section-light a:hover, .content-section-dark a:hover, .content-section-images a:hover {
  color: hsla(0, 0%, 60%, 1);
}

/* Wrapper for <pre> to make the <pre> field length the same as the content text */
.pre-div {
  flex-grow: 1;
  width: 0;
}

.pre-wrapper {
  display: inline-block;
}

/* Image gallery */
.content-section-images {
  padding: 50px 0;
}

/* Footer */
footer {
  text-align: center;
  background: hsl(0, 0%, 0%);
  padding: 50px 0;
}

footer p {
  color: hsla(0, 100%, 100%, 0.6);
  font-size: 14px;
}

footer a {
  color: hsla(0, 100%, 100%, 0.8);
}

.sponsor {
  height: auto;
  width: 201px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.sponsor:hover {
  opacity: 0.6;
}

/* Carbon ads */
#carbonads {
  --width: 130px;
}

#carbonads {
  display: block;
  overflow: hidden;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, .1);
  font-size: 14px;
}

.carbon-text {
  display: block;
  padding: 0 0.5em 8px;
  font-weight: 300;
}

#carbonads a {
  text-decoration: none;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

.carbon-poweredby {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 9px;
}

@media (min-width: 768px) {
  #carbonads {
    width: var(--width);
  }

  .carbon-img {
    display: block;
    margin-bottom: 8px;
    line-height: 1;
  }

  .carbon-img img {
    display: block;
    margin: 0 auto;
    width: var(--width);
    height: auto;
  }

  .carbon-poweredby {
    display: block;
    padding: 10px 12px;
  }
}

@media (max-width: 768px) {
  #carbonads {
    margin-top: 20px;
    padding: 1em;
    line-height: 1.5;
  }

  .carbon-img {
    float: left;
    margin-right: 1em;
  }

  .carbon-img img {
    display: block;
    line-height: 1;
  }

  .carbon-poweredby {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
  }

  .carbon-text {
    float: left;
    max-width: calc(100% - var(--width) - 1em);
    text-align: left;
  }
}
